body {
    background-color: antiquewhite; 
}

.garden-map {
    width: 50%;
}

.horizontal-content {
    display: block;
    margin: 0;
    padding: 0;
}

.vertical-content {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.garden-location-s {
    margin: 0;
    height: 48px;
    width: 48px;
    border: black solid 2px;
    background-color: yellow;
}

.garden-location-c {
    margin: 0;
    height: 32px;
    width: 32px;
    border: black solid 2px;
    background-color: green;
}

.garden-log {
    max-width: 100%;
    height: auto;
}
