body {
    background-color: antiquewhite; 
}

.garden-location-s {
    height: 12px;
    width: 12px;
    border: black solid 2px;
    background-color: yellow;
}

.garden-location-c {
    height: 8px;
    width: 8px;
    border: black solid 2px;
    background-color: green;
}

.garden-log {
    max-width: 100%;
    height: auto;
}
