:root {
    --colorPlanted: green; 
    --colorEmpty: antiquewhite;
    --colorHarvestReady: gold;
    --colorHover: aqua; 
}

@media (max-width: 450px) {
    button {
        width: 20vw;
    }
}

body {
    background-color: antiquewhite; 
}

.garden-map {
    margin: auto;
    padding: auto;
    width: 90vw;
}

.horizontal-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    box: border-box;
}

.vertical-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    box: border-box;
}

#plot1Section .garden-location-s {
    min-height: 53.3px;
    min-width: 53.3px;
    height: 16.8vw;
    width: 16.8vw;
    border: black solid 1px;
}

#plot1Section .garden-location-c {
    min-height: 32px;
    min-width: 32px;
    height: 10vw;
    width: 10vw;
    border: black solid 1px;
}

#plot2Section .garden-location-s {
    min-height: 53.3px;
    min-width: 53.3px;
    height: 15.1vw;
    width: 15.1vw;
    border: black solid 1px;
}

#plot2Section .garden-location-c {
    min-height: 32px;
    min-width: 32px;
    height: 10vw;
    width: 10vw;
    border: black solid 1px;
}

.garden-log {
    max-width: 95%;
    height: auto;
}
