:root {
    --colorEmpty: rgb(208, 162, 129);
    --colorHover: rgb(0, 157, 255);
    --colorPlanted: rgb(0, 71, 0); 
    --colorHarvestReady: rgb(154, 133, 10);
    --colorOverRipe: rgb(100, 0, 0);
    --colorLight: antiquewhite;
    --colorDark: black;
}

@media (max-width: 450px) {
    button {
        width: 20vw;
    }
}

body {
    background-color: var(--colorLight); 
}

.garden-map {
    margin: auto;
    padding: auto;
    width: 90vw;
}

.horizontal-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    gap: 0;
    color: var(--colorEmpty);
}

.vertical-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    gap: 0;
    color: var(--colorEmpty);
}

#plotSection .garden-location-s {
    min-height: 53.3px;
    min-width: 53.3px;
    height: 16.8vw;
    width: 16.8vw;
    border: var(--colorDark) solid 1px;
    background-color: var(--colorEmpty);
    color: var(--colorEmpty);
}

#plotSection .garden-location-c {
    min-height: 32px;
    min-width: 32px;
    height: 10vw;
    width: 10vw;
    border: var(--colorDark) solid 1px;
    background-color: var(--colorEmpty);
    color: var(--colorEmpty);
}

.garden-location-c:hover, .garden-location-s:hover {
    background-color: var(--colorHover);
    color: var(--colorDark);
}

.garden-log {
    max-width: 95%;
    height: auto;
}
