body {
    background-color: antiquewhite; 
}

.garden-map {
    max-width: 95%;
    margin: auto;
}

.horizontal-content {
    /*display: block;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    box: border-box;
}

.vertical-content {
    /*display: inline-block;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    box: border-box;
}

.garden-location-s {
    height: 48px;
    width: 48px;
    border: black solid 2px;
    background-color: yellow;
}

.garden-location-c {
    height: 32px;
    width: 32px;
    border: black solid 2px;
    background-color: green;
}

.garden-log {
    max-width: 95%;
    height: auto;
}
