body {
    background-color: antiquewhite; 
}

.garden-map {
    margin: auto;
    width: auto;
}

.horizontal-content {
    /*display: block;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    box: border-box;
}

.vertical-content {
    /*display: inline-block;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    box: border-box;
}

#plot1Section > .garden-location-s {
    min-height: 53.3px;
    min-width: 53.3px;
    height: 16.7vw;
    width: 16.7vw;
    border: black solid 1px;
    background-color: yellow;
}

#plot1Section > .garden-location-c {
    min-height: 32px;
    min-width: 32px;
    height: 10vw;
    width: 10vw;
    border: black solid 1px;
    background-color: green;
}

#plot2Section > .garden-location-s {
    min-height: 53.3px;
    min-width: 53.3px;
    height: 15vw;
    width: 15vw;
    border: black solid 1px;
    background-color: yellow;
}

#plot2Section > .garden-location-c {
    min-height: 32px;
    min-width: 32px;
    height: 10vw;
    width: 10vw;
    border: black solid 1px;
    background-color: green;
}

.garden-log {
    max-width: 95%;
    height: auto;
}
